<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
  <style>
      body{
          background-image: linear-gradient(ghostwhite, white);
          background-repeat: no-repeat;
          width:100%;
          height: 80vh;
      }
      p, a{
          font-family: "Brush Script MT";
          font-size: large;
          text-align:center;
      }
      div{
          position: absolute;
            top: 30%; bottom: 0;
            left: 0; right: 0;
            margin: auto;
          text-align: center;
      }
  </style>
</head>
<body>
  <main>
    <div>
    {% block content %}
    {% endblock %}
    </div>
  </main>
</body>
</html>